<app-header></app-header>
<div class="container">
  <section>
    <mat-card>
      <mat-card-content>
        <div class="row">
          <div class="col-xs-6 col-md-6">
            <mat-card>
              <mat-card-content>
                <app-pokemons-table></app-pokemons-table>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="col-xs-6 col-md-6 details-poke">
            <mat-card>
              <mat-card-content>
                <app-pokemons-details></app-pokemons-details>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-12">
            <mat-card>
              <mat-card-content>
                <app-pokemons-by-letter></app-pokemons-by-letter>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </section>
</div>
<router-outlet></router-outlet>
